<header class="header page-header" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://neatlinesco.com/content/images/2021/01/xhaley-truong-wbRzFTVRcNU-unsplash.png.pagespeed.ic.8rdm3IBtcQ.webp') center center; background-size: cover; background-repeat: no-repeat;">
    <h1 class="title">Make Your Website Work For You</h1>
</header>