<form id="contact-form" name="contact-form">
    <div>
        <label for="name">Name</label>
        <input class="contact-input" type="text" id="name" placeholder="John Lines" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input class="contact-input" type="email" id="email" placeholder="john_lines@neatlinesco.com" required>
    </div>
    <div>
        <label for="message">Message</label>
        <input class="contact-input input-large" type="text" id="message" placeholder="Love your stuff!" required>
    </div>
    <button class="btn btn-contact" type="submit">Submit</button>
</form>