<header class="header gh-canvas" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{feature_image}}') center center; background-size: cover; background-repeat: no-repeat;">
    <h1 class="title">{{title}}</h1>
    <p class="excerpt">{{excerpt}}</p>
    <div class="home-btn">
        <a href="/process" class="btn btn-blue">Learn More</a>
        <a href="/contact" class="btn btn-orange">Get a Quote</a>
    </div>
</header>