<div class="kg-width-full home-img-gallery">
    <div>
        <p class="img-text">Hunting</p>
        <img src="https://images.unsplash.com/photo-1487213802982-74d73802997c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fGVsa3xlbnwwfHx8fDE2MTY0MzUxNjI&ixlib=rb-1.2.1&q=80&w=2000" alt="elk">
    </div>
    <div>
        <p class="img-text">Fishing/Rafting</p>
        <img src="https://images.unsplash.com/photo-1595951294141-329602bb14fd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE0fHxrYXlhayUyMGZpc2hpbmd8ZW58MHx8fHwxNjE2NDM2MTk5&ixlib=rb-1.2.1&q=80&w=2000" alt="kayak fishing">
    </div>
    <div>
        <p class="img-text">Hiking</p>
        <img src="https://images.unsplash.com/uploads/141148589884100082977/a816dbd7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE2fHxoaWtpbmd8ZW58MHx8fHwxNjE2NDM2MzIx&ixlib=rb-1.2.1&q=80&w=2000" alt="hikers on trail">
    </div>    
</div>