<header class="header page-header" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{feature_image}}') center center; background-size: cover; background-repeat: no-repeat;">
    <h1 class="title">{{title}}</h1>

    {{#if custom_excerpt}}
    <p class="excerpt">{{custom_excerpt}}</p>
    {{/if}}

</header>