{{!< default}}

{{#page}}

{{! Header Partial - partials/homeHeader.hbs}}
{{> homeHeader }}

<div class="home-content gh-canvas">
    <h2>Custom Web Design and Development</h2>
    <p class="kg-width-wide">Neat Lines provides high quality web development for outfitters, guides, and the outdoor industry. With a wealth of experience and passion for all things outdoors, we are committed to creating websites that work for you. We focus on providing websites that allow you to focus on your business instead of focusing on your site while also bringing customers to you.</p>
</div>

{{> homeImages }}

<div class="home-content gh-content gh-canvas">
    <h2>Client Testimonials</h2>
    <blockquote>I had an awesome experience partnering with Neat Lines ... They were quick, efficient and contributed great ideas. I can’t wait to continue working with them in new and innovative ways.</blockquote>
    <p class="quote-attr">- Kayla Carter, NeTREP</p>
</div>

{{/page}}