{{!< default}}

{{> blogHeader }}

<div class="gh-page">
    <div class="gh-container blog-index">

        <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

        <div class="sidebar">
            <h2>This is the Side Area</h2>
        </div>

    </div>
</div>
