:root {
    --dark-bg-color: #2f2f2f;
    --light-bg-color: #f4f4f4;
    --dark-font-color: #464646;
    --light-font-color: #fff;
    --blue: #0786cd;
    --light-blue: #49c7ee;
    --orange: #ed5e27;
    --dark-orange: #d66918;
    --font-family-header: din-condensed, sans-serif;
    --font-family-content: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-header);
}

p {
    font-family: var(--font-family-content);
}

.gh-canvas>blockquote,
.gh-canvas>dl,
.gh-canvas>ol,
.gh-canvas>p,
.gh-canvas>ul {
    font-family: var(--font-family-content);
}

/**************/
/* Nav Styles */
/**************/
.gh-head {
    background-color: var(--dark-bg-color);
    color: var(--light-font-color);
	position: sticky;
	top: 0;
    z-index: 1;
    padding: 1vmin 4vmin;
    box-shadow: 0 0 8px black;
    border-bottom: 1px solid #212121;
}

.gh-head-inner {
    grid-template-columns: 1fr 1fr;
}

.gh-head-brand {
    grid-column-start: 1;
}

.gh-head-menu {
    justify-content: flex-end;
}

.gh-head-menu  .nav li {
    padding: 0 0 0 1em;
    font-size: 1.5em;
}

.nav-current a {
    box-shadow: none;
}

.fa-bars {
    font-size: 2em;
}

.gh-head-icon {
    display: none;
}

.gh-head-logo {
    display: block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.2em;
}

/*******************/
/* Homepage Styles */
/*******************/

/* Homepage Header */
.header {
    color: var(--light-font-color);
    background-color: var(--dark-bg-color);
    text-align: center;
    padding: 10% 0;
}

.title,
.excerpt,
.home-btn {
    grid-column: wide-start/wide-end;
}

.title {
    font-size: 6em;
    font-weight: 400;
    text-shadow: 2px 2px 4px var(--dark-bg-color);
}

.excerpt {
    font-size: 2em;
    text-shadow: 2px 2px 4px var(--dark-bg-color);
    padding: 2em 0;
}

.home-btn {
    display: flex;
    justify-content: space-evenly;
    padding: 3em 0 0;

}

.btn {
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    border-radius: 15px;
    background-color: var(--dark-bg-color);
    padding: .6em;
    color: var(--light-font-color);
}

.btn-blue {
    background-color: var(--blue);
}

.btn-orange {
    background-color: var(--orange);
}

/***************/
/* Page Styles */
/***************/
.page-header {
    padding: 5%;
}

/******************/
/* Content Styles */
/******************/

/* Main Page Style */
.gh-main {
    background-color: var(--light-bg-color);
    color: var(--dark-font-color);
}

.home-content {
    text-align: center;
}

/* Section Style */
.content {
    padding-bottom: 5em;
}

.content h2 {
    padding: 1.5em 0;
}

.content p {
    grid-column: wide-start/wide-end;
}

/* Home Img Gallery */
.home-img-gallery {
    display: flex;
}

.home-img-gallery div {
    position: relative;
}

.home-img-gallery img {
    max-height: 350px;
    object-fit: cover;
}

.img-text {
    position: absolute;
    color: var(--light-font-color);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .125rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Home Testimonials */
.content blockquote {
    margin-top: 0;
}

.quote-attr {
    font-style: italic;
    margin-top: 0;
    text-align: right;
}
/*****************/
/* Footer Styles */
/*****************/

footer {
    background-color: var(--dark-bg-color);
    color: var(--light-font-color);
}

.gh-foot {
    padding: 4vmin;
    border-top: solid 8px var(--light-blue);
}

.gh-foot .gh-container {
    width: 100%;
}

.nl-foot, .foot-info {
    display: flex;
    align-items: center;
    text-align: center;
}

.nl-foot {
    justify-content: space-between;
}

.foot-sec {
    margin: 2rem;
}

.foot-icon img {
    max-height: 50px;
    display: initial;
}

.icon-head {
    font-size: 1.5em;
}

.foot-sub form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.foot-sub input {
    border-radius: 7px;
    border: none;
    padding: .2em;
}

.sub-email {
    margin: 1em 0 .5em;
}

.sub-submit {
    border-radius: 7px;
    font-size: 1em;
}

.foot-info {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.foot-head {
    font-weight: 700;
}

.gh-foot-menu {
    border-left: 1px solid var(--light-font-color);
    flex-direction: column;
}

.gh-foot-menu .nav {
    flex-direction: column;
    align-items: flex-start;
}

.gh-foot-menu .nav li {
    padding: .5rem 1.5rem;
}

 .gh-foot-menu .nav a, .gh-head-menu .nav-current a {
    box-shadow: none;
}

/*****************/
/* Media Queries */
/*****************/

@media (max-width: 900px) {
    .gh-head-icon {
        display: block;
        padding: 10px 0;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.2em;
    }

    .gh-head-icon img {
        max-height: 40px;
    }
    
    .gh-head-logo {
        display: none;
    }

    .gh-canvas p, .gh-canvas blockquote {
        text-align: left;
        font-family: var(--font-family-content);
    }

    /* Padding in mobile menu */
    .gh-head-menu  .nav li {
        padding: .125em;
    }

    .title {
        font-size: 4em;
    }

    .excerpt {
        font-size: 1.5em;
    }

    .home-btn {
        padding: 0;
    }

    .content {
        padding: 0 1em 5em;
    }

    /* Home Image Gallery */
    .home-img-gallery {
        flex-direction: column;
    }

    /* Footer */
    .nl-foot {
        flex-direction: column;
    }

    .foot-info {
        align-items: center;
        text-align: center;
    }

    .gh-foot-menu {
        border-top: 1px solid var(--light-font-color);
        border-left: none;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gh-foot-menu .nav {
        flex-direction: row;
        align-items: center;
    }
}