:root {
    --dark-bg-color: #2f2f2f;
    --light-bg-color: #f4f4f4;
    --dark-font-color: #464646;
    --light-font-color: #fff;
    --blue: #0786cd;
    --light-blue: #49c7ee;
    --orange: #ed5e27;
    --dark-orange: #d66918;
}

/**************/
/* Nav Styles */
/**************/
.gh-head {
    background-color: var(--dark-bg-color);
    color: var(--light-font-color);
}

.gh-head-inner {
    grid-template-columns: 1fr 1fr;
}

.gh-head-brand {
    grid-column-start: 1;
}

.gh-head-menu {
    justify-content: flex-end;
}

.gh-head-menu  .nav li {
    padding: 0 0 0 1em;
    font-size: 1.5em;
}

.fa-bars {
    font-size: 2em;
}

.gh-head-icon {
    display: none;
}

.gh-head-logo {
    display: block;
    padding: 10px 0;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.2em;
}

/*******************/
/* Homepage Styles */
/*******************/

/* Homepage Header */
.home-header {
    color: var(--light-font-color);
    background-color: var(--dark-bg-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    text-align: center;
}

.home-title {
    font-size: 4em;
    font-weight: 400;
    text-shadow: 2px 2px 4px var(--dark-bg-color);
}

.home-excerpt {
    font-size: 1.5em;
    text-shadow: 2px 2px 4px var(--dark-bg-color);
    padding: 2em 0;
}

.home-btn {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    border-radius: 15px;
    background-color: var(--dark-bg-color);
    padding: .6em;
    color: var(--light-font-color);
}

.btn-blue {
    background-color: var(--blue);
}

.btn-orange {
    background-color: var(--orange);
}

/******************/
/* Content Styles */
/******************/

/* Main Page Style */
.gh-main {
    background-color: var(--light-bg-color);
    color: var(--dark-font-color);
}

/* Section Style */
.home-content {
    text-align: center;
    padding-bottom: 5em;
    margin: 0 5em;
}

.home-content h2 {
    padding: 2em 0;
}

/*****************/
/* Media Queries */
/*****************/

@media (max-width: 900px) {
    .gh-head-icon {
        display: block;
        padding: 10px 0;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.2em;
    }

    .gh-head-icon img {
        max-height: 40px;
    }
    
    .gh-head-logo {
        display: none;
    }

    /* Padding in mobile menu */
    .gh-head-menu  .nav li {
        padding: .125em;
    }
}